<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qualipy</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Latest DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <style>
        body {
            margin-bottom: 20px;
            margin-left: 20px;
        }
        .footer {
              position: relative;
              margin-top: 100px;
              bottom: 0px;
              height: 80px;
        }
    </style>
    {% block head %} {% endblock %}
    {% block style %} {% endblock %}
</head>
<body>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Metric Tracker</a>
        <div class="dropdown-menu">
            {% if projects %}
                {% for project, values in projects.items() %}
                   <a class="dropdown-item"
                      href="{{ url_for('main.handle_project_request', project_name=project) }}">{{ project }}</a>
                {% endfor %}
            {% else %}
                <a class="dropdown-item"
                   href="#">No projects defined</a>
            {% endif %}
        </div>
      </li>
      {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
          </li>
      {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
        </li>
      {%  endif %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Docs</a>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://github.com/baasman/qualipy">github</a>
            </div>
        </li>
    </ul>

    <div class="'container">
        {% block content %} {% endblock %}

        <div class="push"></div>
        <div id="footer" style="white-space: nowrap">
            <div class="container text-left">
                <footer class="footer">
                    <p>&copy; Boudewijn Aasman.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
{% block scripts %} {% endblock %}
</html>