{% extends "base.html" %}

{% block style %}
    <style>
        #anom-table-main {
            margin-top: 100px;
            margin-left: 100px;
        }
        .anomaly-table {
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h3>Anomalies</h3>
        <div class="anomaly-table">
            {{ anom_table }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#anom-table-main').DataTable();
        } );
    </script>
{% endblock %}
