{% extends "base.j2" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Qualipy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#batch_size_section">Batch Size</a>
      <a class="nav-item nav-link" href="#numerical_aggregates_section">Numerical Aggregates</a>
      <a class="nav-item nav-link" href="#categorical_section">Categorical Analysis</a>
      <a class="nav-item nav-link" href="#missing_section">Missing</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

    {% import 'util.j2' as util %}

    <h2 id="home_section">{{ project_name }}</h2>
    <h3 id="anomaly_log"> Anomalies and Failed Checks </h3>
    {{ util.plot_table(anomaly_table, project_name, js_config['sort_by']) }}

    <h3 id="batch_size_section">Result Set Size</h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" 
        data-target=".row_counts" aria-expanded="true" aria-controls=".row_counts">
        View Row Count Results
    </button>
    <div class='row_counts collapse show'>
        {% for r in row_plots %}
        {{ util.plot_chart(r) }}
        {% endfor %}
    </div>

    <h3 id="numerical_aggregates_section">Trends and Numerical Aggregates</h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" 
        data-target=".trends" aria-expanded="true" aria-controls=".trends">
        View Numerical Trends
    </button>
    <div class='trends collapse show'>
        {% for trend in trend_plots %}
        {{ util.plot_chart(trend) }}
        {% endfor %}
    </div>


    <h3 id="categorical_section">Categorical Data and Proportional Trends</h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" 
        data-target=".categorical" aria-expanded="true" aria-controls=".categorical">
        View Categorical Trends
    </button>
    <div class='categorical collapse show'>
        {% for cat in cat_plots %}
        {{ util.plot_chart(cat) }}
        {% endfor %}
    </div>

    <h3 id="missing_section">Missingness</h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" 
        data-target=".missingness" aria-expanded="true" aria-controls=".missingness">
        View Missingness
    </button>
    <div class='missingness collapse show'>
        {% for m in missing_plots %}
        {{ util.plot_chart(m) }}
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
{% endblock %}