{% macro plot_chart(json, button=True) -%}
<div class='trend_chart'>
    {% if button %}
        <button class="btn btn-primary" type="button" data-toggle="collapse" 
            data-target="#{{ json['chart_id'] }}" aria-expanded="true" aria-controls="{{ id }}">
            {{ json['button_name'] }}
        </button>
    {% endif %}
    <div class="collapse collapse {{ json['show_by_default'] }}" id="{{ json['chart_id'] }}">
        <script type="text/javascript">
            var spec = {{ json['chart'] }}
            var opt = { "renderer": "canvas", "actions": false };
            vegaEmbed("#{{ json['chart_id'] }}", spec, opt);
        </script>
    </div>
</div>
{%- endmacro %}

{% macro plot_table(html_table, project_name, sort_by) -%}
<div id='anomaly_table'>
    {{ html_table }}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#{{ project_name }}').DataTable(
                {
                    fixedColumns:   {
                        heightMatch: 'none'
                    },
                    order: [{{sort_by}}] 
                }
            );
        } );
    </script>
</div>
{%- endmacro %}


{% macro plot_data(html_table, table_id) -%}
    {{ html_table }}
{%- endmacro %}