/*#histograms {*/
    /*display: flex;*/
/*}*/
/*#histograms > div:nth-child(2) { flex: 1; }*/

/*Overview Page*/

#home-page {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
}

#overview-home {
    float: left;
}

#alerts-home {
    overflow: hidden;
    margin-left: 50px;
}

#overview-table {
    table-layout: fixed;
    width: 25%;
    text-align: left;
}

#schema-table {
    table-layout: fixed;
    width: 25%;
    text-align: left;
}


/*Categorical Page*/
#value-count-plots {
    position: relative;
    right: 30px;
    height: 25%;
    width: 50%;
}


/*Data characteristic page*/

#missing-and-rows-column {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
}

#data-line-plots {
    float: left;
    overflow-y: auto;
    height: 600px;
    width: 800px;
    margin-right: 50px;
}

#missing {
    overflow: hidden;
    overflow-y: auto;
    height: 600px;
    width: 800px;
    margin-left: 50px;
}


#data-type-and-unique-row {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
}

#data-type-plots {
    float: left;
    overflow-y: auto;
    height: 600px;
    margin-right: 50px;
    margin-top: 50px;
}

#unique-plot {
    overflow: hidden;
    overflow-y: auto;
    height: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

/*Yes I know this is laughably terrible. someone show me how to do this*/

#trend-plots-0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}

#plot-header {
    text-align: center;
}

#trend-plots-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}


#trend-plots-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}


#trend-plots-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}


#trend-plots-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}


#trend-plots-5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    border-style: solid;
    margin-bottom: 20px;
    margin-top: 20px;
}
